# ================================
# Ignorer les fichiers compilés Java
# ================================
*.class

# ================================
# Ignorer les fichiers de logs
# ================================
*.log

# ================================
# Ignorer les fichiers BlueJ
# ================================
*.ctxt

# ================================
# Fichiers temporaires pour J2ME
# ================================
.mtj.tmp/

# ================================
# Ignorer les fichiers de packages
# (archives générées)
# ================================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ================================
# Logs de crash de la JVM
# ================================
hs_err_pid*
replay_pid*

# ================================
# Fichiers générés par Maven
# ================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Garder le Maven Wrapper JAR
!.mvn/wrapper/maven-wrapper.jar

# ================================
# Fichiers spécifiques à Eclipse
# ================================
.project
.classpath
.factorypath
.apt_generated
.springBeans
.sts4-cache
.settings/

# ================================
# Fichiers spécifiques à IntelliJ IDEA
# ================================
.idea/
*.iws
*.iml
*.ipr

# ================================
# Fichiers spécifiques à NetBeans
# ================================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# ================================
# Fichiers spécifiques à Visual Studio Code
# ================================
.vscode/
